# PURL Audit - Details

{{- range .Meta}}
- **{{.Label}}:** {{.Value}}
{{- end}}

{{template "audit-details" (dict "Results" .Results "Label" "PURLs" "BaseURL" .BaseURL)}}

{{template "audit-footer" .}}
