**A new version is available:** {{ .Latest }} (current: {{ .Current }})
- Released: {{ .Released }}
- Release notes: {{ .URL }}
{{ range .Notes }}
## {{ .Version }} ({{ .Date }})

{{ trim .Notes }}
{{ end }}
