# SSVC Bulk Calculation

| CVE | Decision | Exploitation | Automatable | Technical Impact | Mission & Well-being Impact | Vector String |
|---|---|---|---|---|---|---|
{{- range .}}
{{- if eq .Status "ok"}}
| {{.CVE.ID}} | {{.SSVC.Decision | ssvc_decision }} | {{.SSVC.Exploitation}} | {{.SSVC.Automatable}} | {{.SSVC.TechnicalImpact}} | {{.SSVC.MissionWellBeingImpact}} | {{.VectorString}} |
{{- else}}
| {{.CVE.ID}} | _{{.Status | upper}}_ | - | - | - | - | - |
{{- end}}
{{- end}}


## CISA SSVC Decision

- 🟢 **Track** : The vulnerability does not require action at this time. The organization would continue to track the vulnerability and reassess it if new information becomes available. CISA recommends remediating Track vulnerabilities within standard update timelines.
- 🟡 **Track*** : The vulnerability contains specific characteristics that may require closer monitoring for changes. CISA recommends remediating Track* vulnerabilities within standard update timelines.
- 🟠 **Attend** : The vulnerability requires attention from the organization's internal, supervisory-level individuals. Necessary actions include requesting assistance or information about the vulnerability, and may involve publishing a notification either internally and/or externally. CISA recommends remediating Attend vulnerabilities sooner than standard update timelines.
- 🔴 **Act** : The vulnerability requires attention from the organization's internal, supervisory-level and leadership-level individuals. Necessary actions include requesting assistance or information about the vulnerability, as well as publishing a notification either internally and/or externally. Typically, internal groups would meet to determine the overall response and then execute agreed upon actions. CISA recommends remediating Act vulnerabilities as soon as possible.
